

/* mobile */
#wrapper {
    width: 100%;
    margin: auto;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-areas: 
        'header header'
        'nav nav'
        'sect1 sect1'
        'sect2 sect2'
        'card1 card2'
        'card3 card4'
        'footer footer';
        
}

header {
    height: 75px;
    grid-area: header;
}

nav {
    height: 150px;
    grid-area: nav;
}

section {
    height: 125px;
}

    #c {
        grid-area: sect1;
    }

    #d {
        grid-area: sect2;
    }

.card {
    height: 30vh;
}

    #e {
        grid-area: card1;
    }

    #f {
        grid-area: card2;
    }

    #g {
        grid-area: card3;
    }

    #h {
        grid-area: card4;
    }

footer {
    height: 80px;
    grid-area: footer;
}


/* tablet */
@media only screen and (min-width: 768px){

    #wrapper {
        grid-template-columns: repeat(5, 20%);
        grid-template-areas: 
        'nav header header header header'
        'nav sect1 sect1 sect2 sect2'
        'nav card1 card1 card2 card2'
        'nav card3 card3 card4 card4'
        'nav footer footer footer footer';
    }

    header {
        height: 100px;
    }

    nav {
        /* align-self: stretch; */
        height: 100%;
    }

    section {
        /* width: 40%; */
        height: 200px;
        /* float: right; */
    }

    .card {
        /* width: 20%;
        float: right; */
        height: 250px
    }

    footer {
        /* width: 80%;
        float: right;
        clear: right; */
        height: 150px;
    }

}

/* desktop */
@media only screen and (min-width: 960px){

    #wrapper {
        width: 90%;
        grid-template-areas: 
        'nav header header header header'
        'nav sect1 sect1 sect2 sect2'
        'nav card1 card2 card3 card4'
        'nav footer footer footer footer';
    }

}


