#a {
    background: aqua;
}

#b {
    background: blueviolet;
}

#c {
    background: cadetblue;
}

#d {
    background: darkgoldenrod;
}

#e {
    background: forestgreen;
}

#f {
    background: floralwhite;
}

#g {
    background: gray;
}

#h {
    background: hotpink;
}

#i {
    background: indianred;
}